<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= set.name %> - Lego Set Details</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar', { page: '', activeTheme: set.theme }) %>

  <!-- Hero -->
  <div class="container mx-auto mt-10">
    <div class="hero bg-base-100 rounded-lg p-0">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <div class="bg-base-200 p-6">
            <h1 class="text-5xl font-bold" id="setName"><%= set.name %></h1>
            <p>Below, you will find detailed information about the set: "<%= set.name %>"</p>
            <img src="<%= set.img_url %>" alt="Lego Set Image" style="width: 300px; height: auto;">
            <p><strong>Year:</strong> <span><%= set.year %></span></p>
            <p><strong>Theme:</strong> <span><%= set.theme %></span></p>
            <p><strong>Number of Parts:</strong> <span><%= set.num_parts %></span></p>
            <!-- Edit button -->
            <a href="/lego/editSet/<%= set.set_num %>" class="btn btn-success">Edit</a>
            <!-- delete button -->
            <a href="/lego/deleteSet/<%= set.set_num %>" class="btn btn-error">Delete Set</a>
            <a href="#" onclick="history.back(); return false;" class="btn">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
